@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: cyan;
  border-radius: 5px;
  padding: 30px;
  color: black;
  width: 300px;
  
}

.title {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.weather-info {
  display: flex;
  justify-content: space-between; /* Alinea el texto y el valor en extremos opuestos */
   /* Pone en negrita el valor */
}

.value {
  text-align: right; 
  font-weight: bold;/* Asegura que el número esté alineado a la derecha */
}



.header, .footer {
  grid-column: span 3; /* Ocupar toda la fila */
  /* background-color: lightblue; */
}

.middle {
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 10px;
  grid-column: span 2;
}



.item {
  /* background-color: lightgray; */
  /* padding: 20px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* width: 100px; */
}

@media (width >=510px) {
  .grid-container {
    width: 400px;
  }
}



